<h1>Create a new school</h1>
<br>

<%= render(partial: 'form') %>

<!--
  <form action='/schools' method='POST'>
    <label>Name</label>
    <input type='text' name='school[name]' />

    <label>Year Built</label>
    <input type='text' name='school[year_built]' />

    <input type='submit' />
  </form>
—>